<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar registro</title>
     <!-- bootstrap cdn-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-secondary p-4 mb-4">
        <a href="/" class="navbar-brand"><h3>REGISTRO DE ESTUDIANTES PARA CURSOS DE NODE JS</h3></a>
    </nav>
    
    <div class="container mt-5">
        <div class="row">
            <!--FORM-->
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <label for="title"><h3>Actualice los datos aqui:</h3></label>
                        <form action="/edit/<%= registro._id %>" method="POST">
                            <div class="form-group mt-2">
                                <label for="title">Nombres</label>
                                <input type="text" name="nombre" placeholder="Inserte el nombre" class="form-control" value="<%= registro.nombre %>">
                            </div>
                            <div class="form-group mt-2">
                                <label for="title">Apellidos</label>
                                <input type="text" name="apellido" placeholder="Inserte el apellido" class="form-control" value="<%= registro.apellido %>">
                            </div>
                            <div class="form-group mt-2">
                                <label for="title">Monto</label>
                                <input type="text" name="pago" placeholder="Inserte el monto de pago" class="form-control" value="<%= registro.pago %>">
                            </div>
                            <button type="submit" class="btn btn-info btn-block text-white mt-2">Editar</button>
                            <a href="/" class="btn btn-danger mt-2">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
</body>
</html>