<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de estudiantes</title>
    <!-- bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-secondary p-4 mb-4">
        <a href="/" class="navbar-brand"><h3>REGISTRO DE ESTUDIANTES PARA CURSOS DE NODE JS</h3></a>
    </nav>
    <div class="container">
        <div class="row">
            <!--FORM-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <label for="title"><h3>Ingrese los datos aqui:</h3></label>
                        <form action="/add" method="POST" autocomplete="off">
                            <div class="form-group mt-2">
                                <label for="title">Nombres</label>
                                <input type="text" name="nombre" placeholder="Inserte el nombre" class="form-control" autocomplete="nope">
                            </div>
                            <div class="form-group mt-2">
                                <label for="title">Apellidos</label>
                                <input type="text" name="apellido" placeholder="Inserte el apellido" class="form-control" autocomplete="nope">
                            </div>
                            <div class="form-group mt-2">
                                <label for="title">Monto</label>
                                <input type="number" name="pago" placeholder="Inserte el monto de pago" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-outline-dark btn-block text-white mt-2">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--LISTA-->
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Pago</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i< registros.length; i++) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= registros[i].nombre %></td>
                                <td><%= registros[i].apellido %></td>
                                <td><%= registros[i].pago %></td>
                                <td>
                                    <a href="/edit/<%= registros[i]._id %>" class="btn btn-success">Editar</a>
                                    <a href="/delete/<%= registros[i]._id %>" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>